USE [OnlineStore]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 05.09.2025 15:21:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 05.09.2025 15:21:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[ShippingAddress] [nvarchar](255) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 05.09.2025 15:21:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 05.09.2025 15:21:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[AverageRating] [decimal](3, 2) NULL,
	[ImageURL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 05.09.2025 15:21:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ReviewText] [nvarchar](1000) NULL,
	[Rating] [int] NOT NULL,
	[ReviewDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05.09.2025 15:21:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [Name], [Description]) VALUES (1, N'Электроника', N'Техника и гаджеты')
INSERT [dbo].[Category] ([CategoryID], [Name], [Description]) VALUES (2, N'Ноутбуки', N'Портативные компьютеры')
INSERT [dbo].[Category] ([CategoryID], [Name], [Description]) VALUES (3, N'Смартфоны', N'Мобильные телефоны')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [UserID], [OrderDate], [Status], [TotalAmount], [ShippingAddress], [PaymentMethod]) VALUES (1, 1, CAST(N'2023-01-10T00:00:00.000' AS DateTime), N'Delivered', CAST(59999.99 AS Decimal(10, 2)), N'ул. Ленина, 10', N'Card')
INSERT [dbo].[Order] ([OrderID], [UserID], [OrderDate], [Status], [TotalAmount], [ShippingAddress], [PaymentMethod]) VALUES (4, 1, CAST(N'2023-04-10T00:00:00.000' AS DateTime), N'Pending', CAST(7999.99 AS Decimal(10, 2)), N'ул. Ленина, 10', N'CashOnDelivery')
INSERT [dbo].[Order] ([OrderID], [UserID], [OrderDate], [Status], [TotalAmount], [ShippingAddress], [PaymentMethod]) VALUES (5, 4, CAST(N'2023-05-10T00:00:00.000' AS DateTime), N'Cancelled', CAST(99999.99 AS Decimal(10, 2)), N'ул. Гагарина, 3', N'Card')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (6, 6, 6, 1, CAST(4999.99 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (7, 7, 7, 1, CAST(59999.99 AS Decimal(10, 2)))
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (13, 6, 6, 1, CAST(4999.99 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [CategoryID], [StockQuantity], [AverageRating], [ImageURL]) VALUES (3, N'Футболка мужская', N'Хлопок, черный, размер M', CAST(1999.99 AS Decimal(10, 2)), 4, 50, CAST(0.00 AS Decimal(3, 2)), N'https://example.com/tshirt.jpg')
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [CategoryID], [StockQuantity], [AverageRating], [ImageURL]) VALUES (6, N'Рюкзак Herschel', N'Черный, водонепроницаемый', CAST(4999.99 AS Decimal(10, 2)), 6, 30, CAST(0.00 AS Decimal(3, 2)), N'https://example.com/herschel.jpg')
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [CategoryID], [StockQuantity], [AverageRating], [ImageURL]) VALUES (7, N'Холодильник LG', N'No Frost, 350 л', CAST(59999.99 AS Decimal(10, 2)), 7, 8, CAST(0.00 AS Decimal(3, 2)), N'https://example.com/lg_fridge.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewID], [UserID], [ProductID], [ReviewText], [Rating], [ReviewDate]) VALUES (3, 3, 3, N'Футболка хорошая, но села после стирки.', 3, CAST(N'2025-07-02T07:18:37.783' AS DateTime))
INSERT [dbo].[Review] ([ReviewID], [UserID], [ProductID], [ReviewText], [Rating], [ReviewDate]) VALUES (6, 5, 6, N'Рюкзак стильный и удобный.', 5, CAST(N'2025-07-02T07:18:37.783' AS DateTime))
INSERT [dbo].[Review] ([ReviewID], [UserID], [ProductID], [ReviewText], [Rating], [ReviewDate]) VALUES (7, 6, 7, N'Холодильник тихий и вместительный.', 4, CAST(N'2025-07-02T07:18:37.783' AS DateTime))
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [PasswordHash], [Phone], [Address], [Role]) VALUES (1, N'Иван', N'Иванов', N'1', N'1', N'+79161234567', N'ул. Ленина, 10', N'Customer')
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [PasswordHash], [Phone], [Address], [Role]) VALUES (2, N'Петр', N'Петров', N'2', N'2', N'+79162345678', N'ул. Пушкина, 5', N'Customer')
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [PasswordHash], [Phone], [Address], [Role]) VALUES (3, N'Анна', N'Сидорова', N'3', N'3', N'+79163456789', N'пр. Мира, 15', N'Customer')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D1053429E251E6]    Script Date: 05.09.2025 15:21:51 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [AverageRating]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Delivered' OR [Status]='Shipped' OR [Status]='Paid' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([StockQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([Role]='Admin' OR [Role]='Manager' OR [Role]='Customer'))
GO
